@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVj2ZhZI2eCN5jzbjEETS9weq8-19eLDwM9.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    box-sizing: border-box;
}
body {
    background-color: #0a0a0a;
}
ul {
    float:right;
    display:inline;
    
}
li {
    list-style: none;
    float: right;
    padding: 0px 20px;
    font-size: 1.4rem;
    color:#0a0a0a;
    text-decoration: underline;

}

h3 {
    font-size: 1.75rem;
    font-family: pacifico;
    color: whitesmoke;
    display:inline;
    margin-left: 10px;
}
.nav h3 {
    color:#0a0a0a;
}
.nav {
    height:fit-content;
    border-bottom: 1px solid lightgrey;
    font-family: 'Roboto Condensed';
    padding-bottom: 10px;
    position: fixed;
    z-index:6;
    background-color: aliceblue;
    box-shadow: 2px 2px 10px darkgray;
    
}

.nav li:hover {
color: goldenrod;
background-color: whitesmoke;
cursor: pointer;
border-radius: 5px;

}

 a {
 color: white;
 text-decoration: none;
 }
 a:hover {
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    text-transform: uppercase;
    }
h1 {
    font-size: 200px;
    color: goldenrod;
    text-align: center;
    font-family: Pacifico;
    text-shadow: 2px 8px 15px black;
    border-collapse: collapse;
    padding: 0px;
    

}


h2 {
    font-size:2em;
    font-family: Pacifico;
    color: #0a0a0a;
    text-shadow: 2px 2px 10px #0a0a0a
    
}

h2.liner {
    font-family: Pacifico;
    font-size: 75px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    opacity: 0.9;
   }

h2 span {
    font-weight: bold;
    color: gold;
    opacity: 1.0;
    text-shadow: 0px 1px 1px whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    padding: 0px 10px;
}
h2 span:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: goldenrod;
    }
h2 span:active {
    box-shadow: 0px 0px 0px black;
    color: goldenrod;
    background-color: whitesmoke;
}

.drink {
    margin: auto;
    text-align: justify;
    padding: 5px;
    width:fit-content;
    border-radius: 10px;
    
    

} 
.drink img {
    height: 300px;
    background-color: #0a0a0a;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 250px;
    padding: 0px 10px;
    margin: 0 20px;

    }
.beer:hover {
  background-image: url(./pics/bar_bg.jpg);
 box-shadow: 2px 2px 5px azure;
 cursor: pointer;
}
.drink img:hover {
    background-image: url(./pics/bar_bg.jpg);
    cursor:pointer;
    background-position: bottom;
    border-radius: 10px;
}
.drink:active {
    box-shadow: 0px 0px 0px #0a0a0a;
    background-color: #0a0a0a;
    cursor:pointer;
   }
img:active {
       background-color: #0a0a0a;
       border: 3px solid #0a0a0a;
       cursor:pointer;
   }    

.text {
    background-color: whitesmoke;
    text-align: center;
    height:500px;
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;
    
}


p {
    font-size: 1.25em;
    font-family: 'Roboto Condensed';
    font-style: italic;
}

.wrapper {
    display:flex;
    background-size: cover;
    align-content: center;
    min-height:300px;
    background-color: lightgrey;
    flex-wrap: wrap;
    flex-direction: row;
}
div.gallery {
    margin: 50px auto;
    border: 1px solid #ccc;
    align-self: center;
    width: 300px;
    background-color: whitesmoke;
    align-items: center;
    float:right;
    border-radius: 5px;
    justify-content: space-between;
    }
  
  div.gallery:hover {
    border: 1px solid #777;
    cursor: pointer;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    align-self: center;
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
    border: 1px solid #0a0a0a;
    font-family: 'Roboto Condensed';
  }
 .recipes {
     width: 100%;
     text-align: center;
     text-shadow: 2px 2px 10px #0a0a0a;
 }
@media only screen and (min-width: 480px) {
    .drink {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }

}
.nav-2 {
    height:fit-content;
    border-top: 1px solid goldenrod;
    font-family: 'Roboto Condensed';
    padding-bottom: 10px;
}

.nav-2 li:hover {
color: gold;
cursor: pointer;
text-transform: uppercase;

}
.nav-2 h3 {
    color:whitesmoke;
}
.nav-2 li {
    color: whitesmoke;
}